<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<html lang="ko">

<div class="container my-3">
    <table class="table">
        <thead>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KBO Players</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'kbo_player_list'%}">Home

          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'kbo_money_list' %}">연봉순위</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kbo_batter_list' %}">타자 TOP30</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'kbo_pitcher_list' %}">투수 TOP30</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


    {% block content %}
    {% endblock %}

    </tbody>


</table>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      function moveNewPlayer(){

        location.href = "{% url 'kbo_player_new' %}";
      }


    </script>
    <button type="button" class="btn btn-primary" onclick="moveNewPlayer()">선수추가</button>




</div>

</html>