{% extends 'kbo_player/base.html' %}
    {% block content %}
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">순위</th>
        <th scope="col">년도</th>
      <th scope="col">이름</th>
      <th scope="col">팀명</th>
      <th scope="col">연봉</th>
      <th scope="col">타율/방어율</th>
    </tr>
  </thead>
  <tbody>
  {% for player in players_money %}
    <tr class="table-secondary">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{player.year}}</td>
      <td>{{player.name}}</td>
      <td>{{player.team}}</td>
      <td>{{player.year_money}}</td>
      <td>{{player.attack_or_attacked}}</td>
    </tr>
{% endfor %}

  </tbody>
</table>
</table>


    {% endblock %}}