{% extends 'kbo_player/base.html' %}

{% block content %}


<form method="POST">
    <fieldset>
        <legend>Legend</legend>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="staticEmail">Email</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="staticEmail" readonly="" type="text"
                       value="email@example.com">
            </div>
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="exampleInputEmail1">Email address</label>
            <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
                   type="email">
            <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="exampleSelect1">Example select</label>
            <select class="form-select" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="exampleSelect2">Example multiple select</label>
            <select class="form-select" id="exampleSelect2" multiple="">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="formFile">Default file input example</label>
            <input class="form-control" id="formFile" type="file">
        </div>
        <fieldset class="form-group">
            <legend class="mt-4">Radio buttons</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input checked="" class="form-check-input" id="optionsRadios1" name="optionsRadios"
                           type="radio" value="option1">
                    Option one is this and that—be sure to include why it's great
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" id="optionsRadios2" name="optionsRadios" type="radio"
                           value="option2">
                    Option two can be something else and selecting it will deselect option one
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" disabled="" id="optionsRadios3" name="optionsRadios"
                           type="radio" value="option3">
                    Option three is disabled
                </label>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <legend class="mt-4">Checkboxes</legend>
            <div class="form-check">
                <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>
            </div>
            <div class="form-check">
                <input checked="" class="form-check-input" id="flexCheckChecked" type="checkbox" value="">
                <label class="form-check-label" for="flexCheckChecked">
                    Checked checkbox
                </label>
            </div>
        </fieldset>


    </form>
{% endblock %}