{% extends 'kbo_player/base.html' %}
    {% block content %}
    <table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">년도</th>
      <th scope="col">이름</th>
      <th scope="col">팀명</th>
      <th scope="col">연봉</th>
      <th scope="col">타율/방어율</th>
    </tr>
  </thead>
  <tbody>

    <tr class="table-secondary">
      <th scope="row">{{players_detail.year}}</th>
      <td>{{players_detail.name}}</td>
      <td>{{players_detail.team}}</td>
      <td>{{players_detail.year_money}}</td>
      <td>{{players_detail.attack_or_attacked}}</td>
    </tr>


  </tbody>
</table>
</table>
<hr>
{% for comment in players_detail.comments.all %}
    <div class = "cm-comment">
        <div class = "date">{{comment.created_date}}</div>


        <div><strong>{{comment.author}}</strong></div>
        <div><p>{{comment.text|linebreaks}}
             <a class="btn-sm btn-outline-primary" href="{% url 'comment_remove' pk=comment.pk%}">
                댓글삭제
            </a>
            </p>
        </div>

    </div>
    {% empty %}
        <p> 댓글이 없습니다!</p>
{% endfor %}
<a class="btn btn-primary" href="{% url 'kbo_player_edit' pk=players_detail.pk %}">
     <span class="btn-primary">선수수정</span>
   </a>
<a class="btn btn-primary" href="{% url 'kbo_player_remove' pk=players_detail.pk %}">
     <span class="btn-primary">선수삭제</span>
   </a>
<a class="btn btn-primary" href="{% url 'add_comment_to_player' pk=players_detail.pk%}">댓글달기</a>




    {% endblock %}